<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527103542609-jmabv6nc7cthtdapr952pp32a73ilasp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527103542609-jmabv6nc7cthtdapr952pp32a73ilasp</string>
	<key>API_KEY</key>
	<string>AIzaSyAcRRoCLhWj0niITVE6PkIL2pQFf52Dbpg</string>
	<key>GCM_SENDER_ID</key>
	<string>527103542609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aipictors.flutter</string>
	<key>PROJECT_ID</key>
	<string>hawbu33t65irr2uy3j8a</string>
	<key>STORAGE_BUCKET</key>
	<string>hawbu33t65irr2uy3j8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527103542609:ios:5f547a6dfc325c0a16ff70</string>
</dict>
</plist>